.container-fluid{
    padding: 0;
}
#nav-container{
    background-color: rgb(42, 54, 165);
}
#nav-container img{
    margin-left: 5%;
    width: 150px;
}
.navbar-toggler{
    margin-right: 5%;
}
#navbar-links{
    margin-right: 5%;
}
.navbar-nav a{
    font-size: large;
    margin: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
}
.navbar-nav a p:hover{
    color: rgb(42, 54, 165);
    background-color: yellow;
    border: 3px solid yellow;
    border-radius: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}