<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <a href="#" class="pokemon-details">
                    <div class="card-body">
                        <img class="card-img-top" src="assets/bulba-giga.png" alt="Card image cap">
                        <h5 class="card-title">BULBASAUR</h5>
                        <div class="card-text"> 
                            <ul class="pokemon-type">
                                <li>Grass</li>
                                <li>Poison</li>
                            </ul>
                        </div>
                        
                    </div>
                 </a> 
              </div>
        </div>
    </div>
</div>
