
.row{
    margin: 0;
}
.container {
    padding: 70px 0;
}
.card{
    border: none;
}
.btn{
    border: 2px solid blue;
    transition: .5s;
    font-weight: 700;
    color: blue;
}
.btn:hover{
    background-color: yellow;
}
.error{
    background-color: black;
}
@media screen and (min-width: 768px) {
    .card-img-top{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
}
@media screen and (min-width: 1440px) {
    .card-img-top{
        width: 25%;
    }
    
}